---
const currentYear = new Date().getFullYear();
---

<footer class="py-8 px-4 border-t border-zinc-800">
  <div class="max-w-6xl mx-auto flex flex-col md:flex-row justify-between items-center gap-4">
    <p class="text-xs sm:text-base text-zinc-400">© {currentYear} Grzegorz Diaconescu. All rights reserved.</p>
    <div class="flex gap-6">
      <a href="https://github.com/grzes-business" class="text-zinc-400 hover:text-white transition-colors">
        GitHub
      </a>
      <a href="https://www.linkedin.com/in/grzegorz-diaconescu-105302301/" class="text-zinc-400 hover:text-white transition-colors">
        LinkedIn
      </a>
    </div>
  </div>
</footer>