---
import '@fontsource-variable/inter';

import favicon from '../assets/favicon.png';

interface Props {
  title: string;
  description?: string;
}

const { 
  title,
  description = "Portfolio of a passionate web developer specializing in modern web technologies."
} = Astro.props;
---

<!doctype html>
<html lang="en" class="overflow-x-clip">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href={favicon.src} />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class="bg-zinc-950 text-white scrollbar-hide ">
    <slot />
  </body>
</html>

<style is:global>
  :root {
    color-scheme: dark;
  }
  
  html {
    scroll-behavior: smooth;
  }

  body {
    min-height: 100vh;
  }
</style>